node_modules
dist
.tmp
.sass-cache
app/bower_components
app/public/assets

.DS_Store

*.js
!app/vendor/*.js
*.css

app/public/assets/*
app/public/javascripts/*
app/public/stylesheets/*
app/routes/*
app/views/*

config/app.json
