html {
    height: 100%;
    min-height: 100%;
}
body {
    text-align: center;
    height: 100%;
    min-height: 500px;
    background: #222;

    font-family: 'Cabin Sketch', cursive;
    font-size: 12px;
    color: #eee;
}

.main {
    margin: 10px auto 0 auto;
    width: 100%;
    height: 100%;

    h1 {
        margin: 0 0 .1em;
        font-size: 4em;
    }

    #twitch-player {
        width: 100%;
        height: 100%;
    }

    #live_embed_player_flash {
        width: 70%;
        height: 80%;
    }

    #chat-embed {
        min-width: 300px;
        height: 80%;
    }

    #smartphone {
        display: none;
        margin: 1em auto;
        max-width: 300px;
        
        a {
            margin: .5em 0 .5em;
        }
    }

    #chatlog {
        width: 960px;
        min-height: 500px;
        margin: 0 auto ;
        text-align: left;

        ul li {
            list-style-type: none;
        }

        a:link, a:visited, a:hover, a:active {
            color: #b9a3e3;
        }

        #navigation {
            float: left;
            width: 200px;
            background-color: #444;

            h3 {
                margin: 0;
                padding: 0 0 0 10px;
                font-size: 2em;
                background-color: #8266b6;
            }
            ul {
                margin:  1em 0 1em 20px;
                font-size: 1.3em;

                li {
                    margin: .1em 0;
                }
            }
        }
        #content {
            float: right;
            width: 720px;
            margin: 0 0 0 20px;
            padding: 0 0 0 20px;
            background-color: #444;
            color: #b9a3e3;
            min-height: 500px;

            h2 {
                font-size: 3em;
            }

            ul {
                padding: 1em 0;
                color: #fff;

                li {
                    margin: .4em 0;
                    font-size: 1.6em;
                    font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;

                    time {
                        margin: 0 5px 0 0;
                    }
                    .user {
                        margin: 0 5px 0 0;
                    }
                }
            }
        }

        @media screen and (max-width: 480px) {
            width: 480px;
            #navigation {
                float: none;
                width: 100%;
                margin: 0 auto;
                padding: 0;

                ul {
                    margin: .3em 0 .3em 20px;
                    font-size: 2em;
                    li {
                        margin: .4em 0;
                    }
                }
            }
            #content {
                float: none;
                width: 100%;
                margin: 0 auto;
                padding: 0;
                h2 {
                    padding: .2em 0 0 10px;
                    margin: .3em 0 .1em;
                    font-size: 2.5em;
                }

                ul {
                    padding: .2em 0;
                    margin: 0 0 0 20px;
                    li {
                        margin: .5em 0;
                        word-break: break-all;
                    }
                }
            }
        }
    }

    #chatlog:after {
        content: '';
        clear: both;
        display: block;
    }

    @media screen and (max-width: 1010px) {
        #live_embed_player_flash {
            width: 35%;
        }
    }

    @media screen and (max-width: 480px) {
        #twitch-player {
            display:  none;
        }
        #smartphone {
            display: block;
        }
    }
}

