<% include layoutHead %>

<div class="main">
<h1>Toire.tv</h1>
<div id="twitch-player">
    <object id="live_embed_player_flash" type="application/x-shockwave-flash"
            data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=toiletgame"
            bgcolor="#000000">
      <param  name="allowFullScreen"
              value="true" />
      <param  name="allowScriptAccess"
              value="always" />
      <param  name="allowNetworking"
              value="all" />
      <param  name="movie"
              value="http://www.twitch.tv/widgets/live_embed_player.swf" />
      <param  name="flashvars"
              value="hostname=www.twitch.tv&channel=toiletgame&auto_play=true&start_volume={VOLUME}" />
    <p>flashが動くブラウザで来てちょ♪</p>
    </object>
    
    <iframe frameborder="0"
            scrolling="no"
            id="chat-embed"
            src="http://twitch.tv/chat/embed?channel=toiletgame&amp;popout_chat=true">
    </iframe>
</div>
<div id="smartphone">
    <a href="twitch://stream/toiletgame" class="btn btn-large btn-block">Launch iOS App</a>
    <a href="https://play.google.com/store/apps/details?id=tv.twitch.android.viewer" class="btn btn-large btn-block" target="_blank">Google Play Store</a>
</div>
</div>

<% include layoutBottom %>
