{
    "production": {
        "database": {
            "host": "localhost",
            "db": "toilet_production",
            "user": "",
            "password": ""
        },
        "irc": {
            "host": "irc.twitch.tv",
            "nickname": "",
            "password": "",
            "channels": ["#toiletgame"]
        }
    },
    "development": {
        "database": {
            "host": "localhost",
            "db": "toilet_development",
            "user": "",
            "password": ""
        },
        "irc": {
            "host": "irc.twitch.tv",
            "nickname": "",
            "password": "",
            "channels": ["#toiletgame"]
        }
    },
    "test": {
        "database": {
            "host": "localhost",
            "db": "toilet_test",
            "user": "",
            "password": ""
        },
        "irc": {
            "host": "irc.twitch.tv",
            "nickname": "",
            "password": "",
            "channels": ["#toiletgame"]
        }
    }
}
